version: "3"
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=your_mongo_uri
      - JWT_SECRET=your_secret
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend
